footer {
    position: static;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    max-width:100%;
    padding: 40px 5%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--text);
}

.footerElement {
    color: var(--text);
}