
:root {
  --blue: #1e90ff;
  --red: #FB5761;
  --background: #1e1e24;
  --text: #dfdbe5;
  --navigation: #1e1e2475;
}
@media (prefers-color-scheme: dark) {
  :root {
    --blue: #1e90ff;
    --red: #FB5761;
    --background: #1e1e24;
    --text: #dfdbe5;
    --navigation: #1e1e2475;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --blue: #1e90ff;
    --red: #FB5761;
    --background: #dfdbe5;
    --text: #241e1e;
    --navigation: #dfdbe5b5;
  }
}


.linkNoDecor {
  text-decoration: none; 
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: var(--blue);
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
}

/*These margins are used in most pages*/
.basigMargins {
  margin: 7em 5em 3em 5em;
}


.textSectionMargins {
  margin-bottom: 10em;
  padding: 0% 5%;
}

body {
  margin: 100px 0px 0px 0px;
  padding: 0;
  background-color: var(--background);
  min-width:100%;
  color: var(--text);
}
