
:root {
  --blue: #1e90ff;
  --red: #FB5761;
  --darkGray: #1e1e24;
  --lightGray: #7e7689;
  --mediumGray: #3a3a44;
  --white: #dfdbe5;
}

.linkNoDecor {
  text-decoration: none; 
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: var(--blue);
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
}

/*These margins are used in most pages*/
.basigMargins {
  margin: 7em 5em 3em 5em;
}


.textSectionMargins {
  margin-bottom: 10em;
  padding: 0% 5%;
}

body {
  margin: 100px 0px 0px 0px;
  padding: 0;
  background-color: var(--darkGray);
  min-width:100%;
  color: var(--white);
}
