


:root {
  --blue: #1e90ff;
  --red: #FB5761;
  --darkGray: #1e1e24;
  --lightGray: #7e7689;
  --mediumGray: #3a3a44;
  --white: #dfdbe5;
}

.linkNoDecor {
  text-decoration: none; 
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

p {
  margin-bottom: 3em;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--darkGray);
  min-width:100%;
  height:100vh;
  color: var(--white);
}
